@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="col-lg-12 control-section default-appbar-section">
    <ejs-appbar id="defaultAppBar" colorMode="Primary">
        <e-content-template>
            <ejs-button aria-label="menu" id="defaultButtonMenu" cssClass="e-inherit" iconCss="e-icons e-menu"></ejs-button>
            <span class="regular" style="margin:0 5px">EJ2 AppBar</span>
            <div class="e-appbar-spacer"></div>
            <ejs-button id="defaultButtonLogin" cssClass="e-inherit" content="FREE TRIAL"></ejs-button>
        </e-content-template>
    </ejs-appbar>
</div>