@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div id="container">
        <ejs-circulargauge id="circular" height="350px" width="650px"></ejs-circulargauge>
    </div>
</div>
